<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="72cb8a">  <td>23/11/08 11:51:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.executor()[pri:0, instance:testclass_package.Get_TC1@181e731e]">executor</td> 
  <td>main@520162288</td>   <td></td> </tr>
<tr bgcolor="9cbee5">  <td>23/11/08 11:51:51</td>   <td>-4370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.executor()[pri:0, instance:testclass_package.Post_TC1@42530531]">executor</td> 
  <td>main@520162288</td>   <td></td> </tr>
<tr bgcolor="e2d8e3">  <td>23/11/08 11:51:54</td>   <td>-2104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC1.executor()[pri:0, instance:testclass_package.Put_TC1@5a3bc7ed]">executor</td> 
  <td>main@520162288</td>   <td></td> </tr>
<tr bgcolor="f782af">  <td>23/11/08 11:51:23</td>   <td>-32549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.executor()[pri:0, instance:testclass_package.Patch_TC1@60410cd]">executor</td> 
  <td>main@520162288</td>   <td></td> </tr>
</table>
